# IN TERMINAL TYPE: pip install -r requirements.txt TO INSTALL ALL THE LIBRARIES

streamlit>=1.32
torch>=2.0
torchvision>=0.15
ultralytics>=8.1
pillow>=10.0
opencv-python>=4.8
numpy>=1.24
pytesseract>=0.3.10
google-generativeai>=0.5
langchain-google-genai>=1.0
langchain>=0.1
langchain-core>=0.1
pyttsx3>=2.90
streamlit_folium>=0.19
folium>=0.15
geopy>=2.4
requests>=2.31
pyyaml>=6.0
tqdm>=4.66
gtts>=2.5
playsound==1.2.2
python-dotenv>=1.0
